.main-header__container{
    margin: 0 0 1rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-header__nav {
    border-top: 1px solid var(--grey-50);
    border-bottom: 1px solid var(--grey-50);
    display: flex;
    justify-content: space-evenly;
    padding: .5rem;
    width: 100%;
}

.main-header__link-container {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.main-header__link {
    composes: link-base from "../../../common/styles/link.css";
    text-transform: uppercase;
    width: 40%;
}
