@import "../../../common/styles/common.css";

/*.error-modal__container {
    background-color: #00000033;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.error-modal__container {
    margin-top: var(--margin-top--category-section);
    composes: circular-modal from '../../styles/circular-modal.css';
}

.error-modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
